.water {
    background-color: #3396cd;
}

.bug {
    background-color: #3ca153;
}

.dark {
    background-color: #5b5a7a;
}

.dragon {
    background-color: #62d4e3 ;
}

.electric {
    background-color: #faff71;
}

.fairy {
    background-color: #f81169;
}

.fire {
    background-color: #fe4c5c;
}

.flying {
    background-color: #9bb8d0;
}

.ghost {
    background-color: #946997;
}

.grass {
    background-color: #22d752;
}

.ground {
    background-color: #754b1e;
}

.normal {
    background-color: #ce99a7;
}

.poison {
    background-color: #a16ae2;
}
.psychic {
    background-color: #fc1b91;
}

.rock {
    background-color: #903f23;
}

.steel {
    background-color: #3ccd9a;
}